<container>
    <row class="header">
        <columns large="6" small="6" valign="middle">
            <img class="logo-white" src="{{ root }}/assets/img/logo_white.png" alt="Kayak logo white">
        </columns>
        <columns large="6" small="6" valign="middle">
            <img class="user-icon float-right" src="{{ root }}/assets/img/user.png" alt="User Icon">
        </columns>
    </row>
    <row class="sub-header">

        <columns large="10" small="10" style="width:90%">
            <row>
                <columns large="3" small="4">
                    <a href="#"><img class="icons" src="{{ root }}/assets/img/airplane.png" alt="airplane">Flights</a>
                </columns>
                <columns class="show-for-large" style="width:1%;">
                    <span class="menu-divider"></span>
                </columns>

                <columns large="3" small="4">
                    <a href="#"><img class="icons" src="{{ root }}/assets/img/bed.png" alt="airplane">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width:1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns large="3" small="4">
                    <a href="#"><img class="icons" src="{{ root }}/assets/img/car.png" alt="airplane">Cars</a>
                </columns>
                <columns class="show-for-large" style="width:1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns class="show-for-large" large="3" small="4">
                    <a href="#"><img class="icons" src="{{ root }}/assets/img/umbrella.png" alt="airplane">Packages</a>
                </columns>
            </row>
        </columns>

    </row>
</container>